<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        color="primary"
        class="backbtn"
        routerLink="/home"
        routerDirection="back"
      >
        <img src="../../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="proses" checked> Proses </ion-segment-button>
    <ion-segment-button value="komplit"> Komplit </ion-segment-button>
  </ion-segment>

  <!-- Isi konten berdasarkan segmen yang dipilih -->
  <ion-list *ngIf="selectedSegment === 'proses'">
    <h3 class="title">Order Sedang Di Proses</h3>

    <div class="order-items">
      <ion-card mode="ios">
        <ion-card-content>
          <div class="item-img">
            <img src="../../../assets/cart/cart1.png" />
          </div>

          <div class="item-info">
            <p>Women t-shirt</p>
            <p>Lotto.LTD</p>
            <p>$34.00</p>

            <ion-button expand="block" color="warning" class="main-button"
              >Sedang Diproses</ion-button
            >
          </div>
        </ion-card-content>
      </ion-card>

      <ion-list>
        <ion-item *ngFor="let status of orderStatusList" class="timeline-item">
          <ion-icon slot="start"  name="chevron-down-circle-outline" class="timeline-icon"></ion-icon>
          <ion-label class="timeline-label">
            <h2>{{ status.title }}</h2>
            <p>{{ status.description }}</p>
            <ion-note>{{ status.date }}</ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>

  <ion-list *ngIf="selectedSegment === 'komplit'">
    <div class="order-items">
      <h3 class="title">Order Selesai</h3>
      <ion-card mode="ios">
        <ion-card-content>
          <div class="item-img">
            <img src="../../../assets/cart/cart1.png" />
          </div>

          <div class="item-info">
            <p>Women t-shirt</p>
            <p>Lotto.LTD</p>
            <p>$34.00</p>

            <ion-button expand="block" color="success" class="main-button"
              >Order Lagi</ion-button
            >
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
