<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons
        class="backbtn"
        routerLink="/home/beranda"
        routerDirection="back"
      >
        <img src="../../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
    <ion-title>Keranjang</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-searchbar
    placeholder="Cari Produk"
    type="text"
    [(ngModel)]="searchTerm"
    (ionChange)="searchByName(searchTerm)"
  ></ion-searchbar>

  <div *ngIf="products.length > 0 && searchTerm === '' ">
    <ion-row *ngFor="let product of products;let i=index;">
      <ion-col size="3">
        <img [src]="product.gambar" alt="{{ product.name }}" />
      </ion-col>
      <ion-col size="5">
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Harga: {{ product.price }}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="hasil.length > 0 && searchTerm !== ''">
    <ion-row *ngFor="let product of products;let i=index;">
      <ion-col size="3">
        <img [src]="product.gambar" alt="{{ product.name }}" />
      </ion-col>
      <ion-col size="5">
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Harga: {{ product.price }}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="hasil.length === 0 && searchTerm !== ''">
    Tidak ada hasil pencarian.
  </div>

</ion-content>
